body{
    padding: 0%;
    margin: 0%;
    font-family: 'Source Sans 3', sans-serif;
    background-image: url(./Media/banner.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}
header #left h1{
    color: rgba(255, 255, 255, 0.596);
    /* margin: 0%; */
    font-weight: bolder;
    font-size: 1.1rem;
}
header #left h1 span{
    font-weight: 100;
}
header #right #hm {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
header #right #hm #drop{
    position: relative;
}
header #right #hm #drop{
    position: relative;
}
#menu{
    list-style-type: none;
    padding: 0%;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 170%;
    top: 105%;
    left: -72%;
    display: none;
}
#drop:hover #menu{
    display: block;
}
header #right #hm #drop #menu li a{
    color: black;
    display: block;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.137);
    
}
header #right #hm #drop #menu li a:hover{
    background-color: rgb(214, 92, 92);
}
header #right #hm #drop #menu #drop-sub{
    position: relative;
}
#menu-sub{
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    top: 0%;
    left: -100%;
    display: none;
}
#drop-sub:hover #menu-sub{
    display: block;
}
header #right #hm li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.5rem 1rem;
    
}
header  #right #hm li button{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.473);
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 5rem;
    height: 2rem;
}

/* main  */

#Alpha{
    padding: 10;
    text-align: center;
    color: white;
    margin:10em 0 18em 0;
}
#Alpha h1{
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}
#Alpha p{
    font-size: 1.25em;
    margin-bottom: 1.75em;
}
#Alpha button{
    border-radius: 6px;
    border: none;
    color: rgba(0, 0, 0, 0.651);
    background-color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 4em;
    /* line-height: 4em; */
    padding: 0 3em;
    width: 14%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
#Alpha #learn{
    margin-left: 1rem;
    border-radius: 6px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 4em;
    /* line-height: 3em; */
    padding: 0 2em;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.452);
}
#Alpha #learn:hover{
    background-color: rgba(255, 255, 255, 0.342);
}

