body{
    margin: 0%;
    padding: 0%;
    background-image: url(./Media/back.png);

}
h4{
    color: #c2b200;
    letter-spacing: 0.4em;
    text-align: center;
}
h6{
    text-align: center;
    color: rgba(4, 4, 82, 0.288);
}
h1{
    text-align: center;
    color: rgb(4, 4, 82);
}
.fa-solid.fa-face-grin{
    font-size: 342%;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
main form{
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
label,#mail,#pass{
    display: block;
    /* margin-left: 30%; */
}
button{
    display: block;
}
main form section{
    display: inline-block;
    margin-left: 7%;
    padding: 25px 0px;
    color: rgb(4, 4, 82);
}
#forgot{
    display: inline-block;
    margin-left: 26%;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 9px;
    background-color: #f0fc4c; 
    color: rgb(4, 4, 82);
    font-size:large;
    font-weight: bold;
}
button:hover{
    background-color: #e6d411;
}
#mail,#pass{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin: 25px 0px;
    border: 2px solid lightblue;
}
#end{
    display: flex;
    justify-content: center;
    margin: 0%;
    color: rgba(4, 4, 82, 0.445);
    font-weight: lighter;
    font-size: small;
}
#sign{
    color: rgba(4, 4, 82, 0.884);
}
#sign:hover{
    color: rgb(111, 209, 241);
}
h3{
    margin: 0%;
}