body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato', sans-serif;
    background-color: white;
}
footer section #left a{
    margin: 10px;
    position: relative;
}
#left-link{
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
}
li{
    list-style-type: none;
    padding: 10px;
}
ul{
    padding: 0%;
    margin: 0%;
}
h4{
    color: black;
    font-size: small;
    font-style: normal; 
}
a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: small;
}
footer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
}
footer section{
    width: 90%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0px 40px 40px 40px ;
}
footer section ul{
    padding: 0%;
    margin: 0%;
}
footer section ul #play{
    width: 10px;
    height: auto;
}
#Play{
    padding: 0px 0px 0px 10px;
}
#play-store{
    border: 1px solid black;
    border-radius: 5%;
    padding: 16px 35px 16px 35px;
    margin: 10px 0px;
}

footer section ul #app{
    width: 10px;
    height: auto;
}

#App{
    padding: 0px 0px 0px 10px;
}
#app-store{
    border: 1px solid black;
    border-radius: 5%;
    padding: 16px 35px 16px 35px;
    margin: 10px 0px;
}
