body{
    margin: 0%;
    padding: 0%;
    background-image: url(./Media/backjjk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
}
h1,h4,p,h2{
    color: black;
}
img{
    width: 250px;
    height: 200px;
    align-items: center;
}
#card{
    display: flex;
    justify-content: center;
    margin: 50px;
}
#cont{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#cont div{
    background-color: rgba(240, 248, 255, 0.377);
    width: 25%;
    border-radius: 15%;
}
#cont div img{
    width: 100%;
    opacity: 0.7;
    border-radius: 15%;
}
#cont div img:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: transform 2s;
}
#cont div h1{
    text-align: center;
    font-weight: bolder;
}
#cont div p{
    text-align: center;
    font-weight: bold;
}

/* views and rating  css*/

.rank{
    display: flex;
}
.rank h2{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0px 25px;
    border-radius: 15%;
}

.rate{
    display: flex;
}
.rate h4{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0px 37px;
    border-radius: 15%;
}