@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
 :root{
    --primary-color:#2dd4bf;
    --secondary-color:#2dd451;
    --off-white:#e2e8f0;
 }
 .container{
    max-width: 100%;
 }
 a{
    text-decoration: none;
    color: white;
    display: block;

 }

body{
    font-family: 'Signika', sans-serif;
    color: var(--primary-color);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
nav{
    background-color: var(--primary-color);
    color: white;
}
nav div {
    width: 30%;
}
nav .nav-left img{
    width: 15%;
}
.list-undotted{
    list-style-type: none;
}
.nav-right{
    justify-content:flex-end;
}
.button-primary{
    width: 20%;
    outline: 0;
    border: 2px solid var(--secondary-color);
    height: 2rem;
    border-radius: 6px;
    
}
.button-secondary{
    width: 20%;
    outline: 0;
    border: 0;
    height: 2rem;
    border-radius: 6px;
    background-color: var(--primary-color);
    
}
.button-primary a{
    color: var(--primary-color);
    font-size: 1rem;
}
.menu li a{
    height: 100%;
}
.male{
    position: relative;
}
.female{
    position: relative;
}
.mobile{
    position: relative;
}
.list-male, .list-female, .list-mobile{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    border-radius: 10px;
    z-index: 1;
}
.male:hover .list-male{
    display: flex;
}
.female:hover .list-female{
    display: flex;
}
.mobile:hover .list-mobile{
    display: flex;
}
.menu li a{
    padding: 0.5rem;
}
.img{
    width: 100%;
}
header{
    padding: 1rem 0rem;
    margin: auto;
    position: relative;
}
header h2{
    position: absolute;
    top: 20;
    font-size: 5rem;
    color: var(--secondary-color);
}
.img img{
    width: 100%;
    height: 30rem;
}
.fa-solid.fa-backward-step{
    position: absolute;
    top: 50%;
    left: 0%;
}
.fa-solid.fa-forward-step{
    position: absolute;
    top: 50%;
    right: 0;
}

#shirt,#t-shirt,#pants{
    width: 80%;
    margin: auto;
    flex-direction: column;
    gap: 0.6rem;
    
}
.row{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-between;
    gap: 2rem;
}
.row div img{
    width: 100%;
    height: 400px;
}
.row div h3{
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}
.row div p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: black;
}

.row div div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cards{
    flex-direction: column;
    padding:1.5rem;
    gap: 0.5rem;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 6px;
    background-color: var(--off-white);
    box-shadow: 4px 6px 13px 3px black;

}
.mens{
    padding: 2rem;
}
.mens div{
    padding-bottom: 1rem}
#shirt h2, #t-shirt h2, #pants h2{
    text-align: center;
    padding: 1rem 0rem;
    font-size: 2rem;
}
.cards button{
    width: 40%;
    text-align: center;
    font-size:1rem;
    color: white;
}
.cards button:hover{
    background-color: var(--secondary-color);
}
#cart{
   background-color: black;
   color: white;
   width: 30%;
   height: 100vh;
   position: fixed;
   top: 0%;
   right: -100%;
   z-index: 999;
   transition: .5s;
   overflow-y: scroll;
}
#cart-title h4{
    text-align: right;
    margin-right: 1rem;
    margin-top: 1rem;
}

#cart-title h2{
    text-align: center;
}
.cart-item{
    display: grid;
    grid-template-columns: 20% 50% 25%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 2rem;

}
.cart-item div img{
    width: 60%;
}
.fa-trash-can{
    color: red;
    margin-left: 0.5rem;
}
.cart-item input{
    width: 20%;
}
#cart-footer button{
    width: 100%;
    height: 35px;
    background-color: rgb(134, 216, 12);
    color: white;
    border: none
}