body{
    padding: 0px;
    margin: 0px;
    background-image: url(./media/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: aliceblue;
}
#cont{
    display: flex;
    justify-content: space-between;
    list-style-type: none;  
    margin: 0px; 
    padding: 0px;
}
a{
    display:block;
    text-decoration: none;
    color: black;
    padding: 20px;
}
a:hover{
    color: limegreen;
    background-color: yellow;
}
#menu{
    position: absolute;
    list-style-type: none;
    padding: 0px;
    /* top: 0px;
    left: 0px; */
    display: none;
}
#drop{
    position: relative;
   
}
#drop:hover #menu{
    display: block;
    align-items: center;
    background-color: aliceblue;

}

