body{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito Sans', sans-serif;
    background-color: antiquewhite;
}
/* a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
a:hover{
    color: blue;
} */
/* main{
    display: flex;
    justify-content: center;
    margin: 20%;
}
.button{
    margin: 8%;
}
.button:hover{
    background-color: yellow;
} */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main form{
    width: 30%;
    background-color: bisque;
    padding: 20px;
    border-radius: 5px;
}
label,#user,#pass,a{
    display: block;
}
label{
    font-size: 20px;
}
#user,#pass{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
    margin-bottom: 10px;
}
/* css to add logo in  input */
#cuser{
    position: relative;
}
#cpass{
    position: relative;
}
.fa-solid.fa-user{
    position: absolute;
    top: 25%;
    left: 2%;
}
.fa-solid.fa-key{
    position: absolute;
    top: 25%;
    left: 2%;
}
main form #btn{
    display: flex;
    justify-content: space-between;
}
button{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: greenyellow; 
    color: white;
}
#remember{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#cancel{
    background-color: red;
}
a{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: blueviolet;
}
#user::placeholder{
    color: rebeccapurple;
}
#pass::placeholder{
    color: rebeccapurple;
}
.fa-regular.fa-face-surprise{
    color: aqua;
    font-size: 25px;
}
main form section{
    /* text-align: center; -----------Simple way ----------- */
    /* Hard way */
    display: flex;
    justify-content: center;
}